BASE_URL=https://sdk3.028lk.com:9988

# account
CORP_ID=

PASSWORD=

MOBILE=

# allow multi mobile phone numbers
# MOBILE=

CONTENT=

CELL=

# If you want to schedule the sending of a text message, you can set the SCHEDULE variable.
# The format of the variable must be recognized by the DateTimeImmutable class.
# Like: 2023-06-08 12:39:27 or 20230608123927
SCHEDULE=

# If need to change guzzle config, use GUZZLE.[ConfigName] to change
# Like:
# GUZZLE.PROXY=tcp://localhost:8125
#
# Notice: Arrays within objects are not supported at the moment.
# GUZZLE.PROXY.NO=.mit.edu
# GUZZLE.PROXY.NO=foo.com   (NOT SUPPORT)